accelerate==1.9.0
adversarial_robustness_toolbox==1.20.1
asyncpg==0.30.0
auto_mix_prep==0.2.0
Brotli==1.1.0
causal_learn==0.1.4.3
coredis==5.0.1
deap==1.4.3
docker_py==1.10.6
hdbscan==0.8.40
joblib==1.5.1
kafka_python==2.2.15
kubernetes==33.1.0
lz4==4.4.4
mlxtend==0.23.4
nltk==3.9.1
orjson==3.11.0
pymc==5.23.0
pymc3==3.11.6
pytest==8.4.1
textstat==0.7.0
umap_learn==0.5.9.post2
